<a href="https://colab.research.google.com/github/Amritha-S-20/makaan.com_web_scrapping/blob/main/makaan_apartment_list_in_bangalore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is my first web scrapping project**

In [ ]:
 #WEB SCRAPPING FROM MAKAAN.COM TO GET THE APARTMENT DETAILS IN THE LOCATION BANGALORE

In [ ]:
#importing all the packages needed for this web scrapping project
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.display import clear_output

In [ ]:
base_url='https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?page='

In [ ]:
owner_info=[]                    #list for storing owner details from 50 pages
no_bhk_info=[]                   #list for storing the details of no. of bhks in the apartments
area_in_sqft_info=[]             #lsit for storing the details of total area of the apartments
location_info=[]                 #list for storing the details of location info
construction_info=[]             #list for storing the details of construction information
total_price_info=[]              #list for storing the details of total price
price_per_sq_ft_info=[]          #list for storing the details of price per square feet

for i in range(1,51):

  print(f'Scrapping value from {i}th page')   #this is used to identify if any error occur at any particular page
  clear_output(wait=True)

  time.sleep(2)
   
  url=base_url+str(i)+'&_=1624508969942'   #identified pattern of the url for 50 pages
  req=requests.get(url)                    #sending the request to the makaan.com
  soup=BeautifulSoup(req.text,'html')      #creating soup object

  #storing the owner details to the list
  o=soup.findAll('span',attrs={'class' : 'seller-type'})
  for i in o:
    owner_info.append(i.text)       

  #storing bhk details
  b=soup.findAll('div',attrs = {'class':'title-line'})
  for j in b:
    no_bhk_info.append(j.strong.span.text.strip())
  
  #storing total area details
  area=soup.findAll('td', attrs={'class':'size'})
  for k in area:
    area_in_sqft_info.append(k.text)

  #storing  location details
  loc=soup.findAll('span',attrs={'class':'locName'})
  for i in loc:
    location_info.append(i.span.text)
  
  #storing construction details
  constr=soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in constr:
    construction_info.append(j.td.text)

  #storing total price details
  crprice=soup.findAll('div',attrs={'data-type':'price-link'})
  for k in crprice:
    total_price_info.append(k.text.strip())

  #storing price per square feet details
  pricesqft=soup.findAll('td',attrs={'class':'lbl rate'})
  for i in pricesqft:
    price_per_sq_ft_info.append(i.text)

Scrapping value from 50th page

In [ ]:
#this is just used to check the length of all above created lists are equal so that there will be no issue to convert it to data frame
len(price_per_sq_ft_info),len(total_price_info),len(construction_info),len(location_info),len(area_in_sqft_info),len(no_bhk_info),len(owner_info)

(1000, 1000, 1000, 1000, 1000, 1000, 1000)

In [ ]:
#this step is used to convert all the above list into dataframe
data=pd.DataFrame({'Owner_info':owner_info,'bhk_info':no_bhk_info,'area_info':area_in_sqft_info,'location_info':location_info,'cons_info':construction_info,'prince_in_cr_info':total_price_info,'price_sq_ft':price_per_sq_ft_info})
data    #converting the list data into tabular format

    Owner_info          bhk_info  ... prince_in_cr_info    price_sq_ft
0      BUILDER  Residential Plot  ...           59.86 L  2,574 / sq ft
1      BUILDER                 3  ...           87.28 L  6,212 / sq ft
2      BUILDER                 3  ...           87.36 L  5,593 / sq ft
3      BUILDER                 3  ...              36 L  3,000 / sq ft
4      BUILDER                 3  ...           88.56 L  6,162 / sq ft
..         ...               ...  ...               ...            ...
995      AGENT                 2  ...           57.76 L  4,750 / sq ft
996      AGENT                 2  ...           57.76 L  4,750 / sq ft
997      AGENT                 2  ...           57.76 L  4,750 / sq ft
998      AGENT                 2  ...           57.76 L  4,750 / sq ft
999      AGENT                 2  ...           57.77 L  5,399 / sq ft

[1000 rows x 7 columns]

In [ ]:
data.to_csv('makaan_apartment_list_in_bnglr.csv',index=False) #converting the data to csv file